<div class="register__container"
     nz-row
     nzType="flex"
     nzJustify="center"
     nzAlign="middle">
  <form nz-form
        [formGroup]="validateForm"
        class="register-form"
        (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your valid email!">
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input formControlName="email" placeholder="Email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password"
                 nz-input
                 formControlName="password"
                 placeholder="Password"
                 (ngModelChange)="updateConfirmValidator()"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTpl">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password"
                 nz-input
                 formControlName="checkPassword"
                 placeholder="Check Password"/>
        </nz-input-group>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button
                class="register-form-button"
                [nzType]="'primary'">Register</button>
        Or
        <a routerLink="/login">log in!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
