:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$top-nav-height: 64px;
.app-layout {
  min-height: 100vh;
}

.top-logo {
  .logo-heading {
    padding-left: 12px;
    color: white;
    font-weight: bold;
    font-size: medium;
  }

  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}
