<article nz-typography>
  <h1 nz-title>Bewerbungsprofil</h1>
</article>

<nz-steps nzDirection="horizontal"
          [nzCurrent]="currentStepIndex"
          (nzIndexChange)="onIndexChange($event)">
  <nz-step nzTitle="Info"></nz-step>
  <nz-step nzTitle="Fähigkeiten"></nz-step>
  <nz-step nzTitle="Geschafft!" [nzIcon]="iconTemplate"></nz-step>
  <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
</nz-steps>

<div class="employee-profile__steps-content"
     [ngSwitch]="currentStepIndex">
  <app-meta-form *ngSwitchCase="0"></app-meta-form>
  <app-skills-form *ngSwitchCase="1"></app-skills-form>
  <div *ngSwitchCase="2">
    <nz-col>
      <nz-row>
        <h1>Herzlichen Glückwunsch!</h1>
      </nz-row>
      <nz-row>
        <button nz-button nzType="primary" nzSize="large"><i nz-icon nzType="check"></i>Jobsuche starten</button>
      </nz-row>
    </nz-col>
  </div>
</div>

<div class="employee-profile__steps-action">
  <button nz-button nzType="default" (click)="onIndexChange(currentStepIndex - 1)" *ngIf="currentStepIndex > 0">
    <span>Zurück</span>
  </button>
  <button nz-button nzType="default" (click)="onIndexChange(currentStepIndex + 1)" *ngIf="currentStepIndex < 2">
    <span>Weiter</span>
  </button>
</div>


