<article nz-typography>
  <h1 nz-title>Neuen Job anlegen</h1>
</article>

<nz-steps nzDirection="horizontal"
          [nzCurrent]="currentStepIndex"
          (nzIndexChange)="onIndexChange($event)">
  <nz-step nzTitle="Info"></nz-step>
  <nz-step nzTitle="Fähigkeiten"></nz-step>
  <nz-step nzTitle="Willkommenspaket"></nz-step>
</nz-steps>

<div class="create-offer__steps-content"
     [ngSwitch]="currentStepIndex">
  <app-employer-meta-form *ngSwitchCase="0"></app-employer-meta-form>
  <app-employer-skills-form *ngSwitchCase="1"></app-employer-skills-form>
  <app-welcome-form *ngSwitchCase="2"></app-welcome-form>
</div>

<div class="create-offer__steps-action">
  <button nz-button nzType="default" (click)="onIndexChange(currentStepIndex - 1)" *ngIf="currentStepIndex > 0">
    <span>Zurück</span>
  </button>
  <button nz-button nzType="default" (click)="onIndexChange(currentStepIndex + 1)" *ngIf="currentStepIndex < 2">
    <span>Weiter</span>
  </button>
</div>


