<h1 nz-title>Vermittlung/Meine Job Angebote</h1>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>Firma</th>
    <th>Job-Bezeichnung</th>
    <th>Ort</th>
    <th>Aktion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.company }}</td>
    <td>{{ data.title }}</td>
    <td>{{ data.location }}</td>
    <td>
      <a>annehmen</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>ablehnen</a>
    </td>
  </tr>
  </tbody>
</nz-table>
