<nz-layout class="app-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px" nzTheme="dark">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="sider-menu">
      <li nz-menu-item
          routerLink="account"
          nzMatchRouterExact
          nzMatchRouter>
        <i nz-icon nzType="user"></i>
        <span>Account</span>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="Job finden"
          nzIcon="search">
        <ul>
          <li nz-menu-item
              nzMatchRouterExact
              nzMatchRouter
              routerLink="find/profile">
            <i nz-icon nzType="profile"></i>
            <span>Mein Profil</span>
          </li>
          <li nz-menu-item
              nzMatchRouterExact
              nzMatchRouter
              routerLink="find/matching">
            <i nz-icon nzType="like"></i>
            <span>Vermittlung</span>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="Job anbieten"
          nzIcon="pushpin">
        <ul>
          <li nz-menu-item nzMatchRouterExact
              nzMatchRouter
              routerLink="offer/profile">
            <i nz-icon nzType="profile"></i>
            <span>Firmenprofil</span>
          </li>
          <li nz-menu-item nzMatchRouterExact
              nzMatchRouter
              routerLink="offer/create">
            <i nz-icon nzType="plus"></i>
            <span>Neuer Job</span>
          </li>
          <li nz-menu-item nzMatchRouterExact
              nzMatchRouter
              routerLink="offer/list">
            <i nz-icon nzType="unordered-list"></i>
            <span>Meine Jobs</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
