[nz-carousel-content] {
  text-align: center;
  height: 200px;
  line-height: 160px;
  background: #000;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}

.home__content {
  padding: 16px;
}

[nz-button] {
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 12px;
}
